@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    background-color: #082032;
}

h1{
    font-family: 'Lobster', cursive;
    color: #133B5C;
}

hr{
    border: 0;
    border-top: 1px dashed #8c8c8c;
    width: 25em;
    text-align: center;
}

.container{
    background-color: white;
    -webkit-box-shadow: 3px 7px 28px 8px rgba(0,0,0,0.64);
    -moz-box-shadow: 3px 7px 28px 8px rgba(0,0,0,0.64);
    box-shadow: 3px 7px 28px 8px rgba(0,0,0,0.64);
    border-radius: 20px;
}

thead{
    font-family: 'Nunito', sans-serif;
}

footer{
    background-color: #fff;

}