body{
    background-color: #082032;
}

.container{
    padding: 50px 40px;
    background-color: white;
    border-radius: 5px;
    margin-top: 5em;
    -webkit-box-shadow: 3px 7px 28px 8px rgba(0,0,0,0.64);
    -moz-box-shadow: 3px 7px 28px 8px rgba(0,0,0,0.64);
    box-shadow: 3px 7px 28px 8px rgba(0,0,0,0.64);
}

